body{
    background-color: #f3f2ed!important;
    line-height: 3px;
}
.row{

    margin: 0px 0px !important;
}
.main0{

    background-color: #ffffff;
}
.head{

    font-size: 13px;
    background-color: #343538;
    padding: 29px 40px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

h3{
    font-family: "Open Sans";
    font-weight: 600 !important;
    font-size: 18px;
    color: #343538;
}

p{
    font-family: "Helvetica Neue";
    color: #a7a7a7;
}
.text{

    margin-top: 25px;

}
a:visited{
    color: #ffffff ;
}

.head1{
    padding: 0 0;
    height: 300px;

}
.head2{
    padding: 10px 70px;

}
.head2 > p {
    margin-top: 10px;

}

.button{
    width: 100px;
    height: 36px;
    background-color: #343538;
    color: white;
    border-radius: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.sec1{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    margin-top: 20px!important;
    padding: 25px 15px;
}

.sec1 > div{

    width: 25%;
    text-align: center;


}

.sec1 > div > p,h3{

    padding-top: 15px;
}

.sec2, .sec3, .sec4{

    margin-top: 20px!important;
    background-color: #ffffff;
    justify-content: space-around;

}

.sec2  > div:nth-child(1), .sec3 > div:nth-child(2){

    width: 50%;
    height: 250px;
    padding: 20px 20px;
}

.sec4{
    background-color: #ffffff;
    text-align: center;
}


.sec5{
    display: flex;
}
.sec5 > img{

    width: 33.3%;
    height: 100%;

}

.sec6{

    display: block!important;
    margin-top: 20px!important;
    color: #ffffff!important;
    background-color: #343538;
    text-align: center;
    line-height: 1%;
    height: 120px;
    padding-top: 20px;
    font-weight: 600 !important;
    font-family: "Open Sans";
}

.sec7{
    margin-top: 20px!important;
    padding: 20px 70px;
    background-color:#ffffff;
}
.sec8{
    display: block!important;
    margin-top: 20px!important;
    background-color: #ffffff;
    text-align: center;
}

.sec8 > img{
    width: 75%;
    height: 75%;
}
footer{
    margin-top: 20px!important;
    background-color: #343538;
    color: #ffffff!important;
    height: 200px;
    text-align: center;
}

footer > div{

    padding-top: 20px;

}
footer > div > div{


    width: 34px;
    height: 34px;
    background-color: #ffffff;
    border: 1px groove white;
    border-radius: 50%;
    margin-left: 15px;
    padding-top: 3px;

}


